@model IEnumerable<WebApplication1.Model.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employee_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_of_birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_of_joining)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employee_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_of_birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_of_joining)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.employee_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.employee_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.employee_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
